<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    
    <body>
        <h1>Team List</h1>

        <table>
            <thead>
                <tr>
                    <th>Name</th><th>Member Count</th>
                </tr>
            </thead>
            <tbody>
                <!-- it is like a loop, which can have multiple rows -->
                <!-- team is a variable that refers to teamList -->
                <tr th:each="team : ${teamList}">
                    <td th:text="${team.name}"></td><td th:text="${team.memberCount}"></td>
                </tr>
            </tbody>
        </table>
    </body>


</html>